<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.firstapp">
    <!-- 读短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 后台 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 添加接收系统启动消息（用于开机启动）权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.FirstApp"
            android:usesCleartextTraffic="true"
            tools:targetApi="31">

        <activity
                android:name=".View.SetUrl"
                android:exported="false"/>
        <activity
                android:name=".TestStorage"
                android:exported="false"/>
        <activity
                android:name=".DisplayActivity"
                android:exported="false"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
                android:name=".service.SmsRecevier"
                android:enabled="true" android:exported="true">
            <intent-filter>
                <action
                        android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

        </receiver>
        <service android:name=".service.MyService"></service>

    </application>

</manifest>